
.body{


    -fx-background-image: url(wp7378298.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: centre;
    -fx-background-size: 100% 100%;
    

}
